@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow: hidden;
}

.product {
    box-shadow: 1px 5px 1px #ccc;
    margin-bottom: 16px;
}

.product h1 {
    font-weight: bolder;
    text-transform: uppercase;
}

.shopping-cart-wrap {
    box-shadow: 1px 5px 1px #ccc;

}

.product-crud input[type=text] {
    padding: 2px;
    display: block;
    width: 100%
}

.product-crud select {
    padding: 2px;
    display: block;
    width: 100%
}

.product-crud textarea {
    display: block;
    width: 100%
}

.product-crud form div {
    margin-bottom: 12px;
}

.slick-slider,
.slick-list,
.slick-track {
    z-index: 1;
}