<<<<<<< HEAD
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow: hidden;
}

.product {
    box-shadow: 1px 5px 1px #ccc;
    margin-bottom: 16px;
}

.product h1 {
    font-weight: bolder;
    text-transform: uppercase;
}

.shopping-cart-wrap {
    box-shadow: 1px 5px 1px #ccc;

}
=======
@tailwind base;
@tailwind components;
@tailwind utilities;
>>>>>>> ab3ec94ed277df8fe2d002be8685cd435aa30604
